body {
    font-family: "Roboto", sans-serif;
    color: #2c2c2c;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
    margin-top: 0;
    padding-left: 0;
}

p, h1, h2, h3, h4, h5, h6  {
    margin-bottom: 0;
    margin-top: 0;
}

address {
    font-style: normal;
}

.container {
    /* max-width: 1280px;
    padding-right: 16px;
    padding-left: 16px; */
    max-width: 320px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    display: block;
    height: auto
}
/*-----------------Header-----------------------*/

.header {
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #fefefe;
}

.header-container {
    display: flex;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.logo {
    margin-right: auto;
    display: block;
}

.navigation-list {
    display: none;
}

.navigation-list-item {
}

.navigation-link {
    display: none;
}


.button-order-now {
    display: none;
}

.burger-btn{
    border: none;
    background-color: transparent;
    padding: 0;
    min-width: 24px;
    height: 24px;
    margin-right: 0;

}

.burger-icon {
    display: block;
    fill: #7eb101;
}

@media screen and (min-width:768px) {

    .container {
        max-width: 768px;
        padding-right: 32px;
        padding-left: 32px;
        margin: 0 auto;
    }

    .navigation {
        margin-right: 30px;
    }
    
    .navigation-list {
        display: flex;
        gap: 28px;
    }
    
    .navigation-list-item {
    }
    
    .navigation-link {
        font-size: 14px;
        padding: 28px 0;
        display: block;
    }
    
    .navigation-link:hover, .navigation-link:active {
        font-weight: 700;
        text-decoration: underline;
        color: #bbf330
    }
    
    .button-order-now {
        font-weight: 500;
        font-size: 13px;
        line-height: 1.5;
        color: #2c2c2c;
        cursor: pointer;
        background-color: #bbf330;
        border-radius: 30px;
        min-width: 98px;
        height: 32px;
        padding: 0px 17px;
        border: none;
        display: block;
    }
    
    .button-order-now:hover {
        background-color: #ffe450;
    }

    .burger-btn {
        display: none;
    }
}


@media screen and (min-width:1158px) {
    .container {
        max-width: 1280px;
        padding-right: 16px;
        padding-left: 16px;
        margin: 0 auto;
    }
}
/*----------------------------------------------*/

/*-----------------HERO-------------------------*/

.hero {
    padding: 60px 20px 45px;
}

.hero-container {
    display: flex;
    align-items: center;
}

.hero-title {
    font-size: 28px;
    margin-bottom: 28px;

}

.hero-title-text {
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 32px;   
}

.hero-text-wrap {
    max-width: 280px;
}

.hero-img {
    display: none;
}

.hero .button-order-now {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    cursor: pointer;
    background-color: #bbf330;
    border-radius: 30px;
    min-width: 98px;
    height: 32px;
    padding: 0px 17px;
    border: none;
    display: block;
}

.hero .button-order-now:hover {
    background-color: #ffe450;
}
@media (min-width:768px ) and (max-width:1158px ) {
    .hero-img {
        position: absolute;
        right: 0;
        top: 60px;
        width: 336px;
        display: block;
        border-radius: 100%;
        border: 26px solid #ffe550;
        background-color: #fefefe;
    }
    .hero-container {
        position: relative;
    }

    .hero-text-wrap {
        max-width: 537px;

    }

    .hero-title-text {
        max-width: 336px;
        
    }

}

@media screen and (min-width:768px) {
    .hero {
        padding: 60px 32px 42px;
    }

    .hero-title {
        font-size: 42px;
        margin-bottom: 44px;
    }

    
    .hero-title-text {
        font-size: 16px;
        margin-bottom: 40px;
        
    }
    
}

@media screen and (min-width:1158px) {
    .hero {
        padding: 14px 0 69px;
    }

    .hero-title {
        font-size: 48px;
        line-height: 1.2;
    }
    
    .hero-title-text {
        line-height: 1.5;
        margin-bottom: 40px;
        
    }
    
    .hero-text-wrap {
        max-width: 511px;
        margin-right: 160px;
    }
    
    .hero-img {
        border-radius: 100%;
        border: 26px solid #ffe550;
        background-color: #fefefe;
        display: block;
    }
    
}

/*----------------------------------------------*/


/*------------------About------------------------*/

.about {
    padding-top: 45px;
    padding-bottom: 135px;
}

.about-container {
}

.about-wrap {
    /* margin-left: 90px;
    max-width: 573px; */

}

.about-title {
    font-size: 28px;
    line-height: 1.2;
    margin-bottom: 28px;
}

.about-text {
    line-height: 1.5;
    font-size: 14px;
    margin-bottom: 40px;
}

.about-list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
    margin-bottom: 28px;
}

.about-list-item {
    width: calc((100% - 67) / 2);
}

.about-subtitle {
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 16px;
}

.about-descr {
    font-size: 14px;
    line-height: 1.5;
}

.about-btn {
    border: 2px solid #7eb101;
    background-color: #fff;
    display: block;
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 106px;
    height: 40px;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
}

.read-more {
    font-weight: 400;
    font-size: 13px;
    line-height: 1.5;
    color: #000;
    max-width: 83px;
    height: 34px;
    border: none;
    display: flex;
    cursor: pointer;
    background-color: transparent;
    align-items: inherit;

}

.chevron-down {
    display: flex;
    justify-content: baseline;
    

}

.button-list-item {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-list {
    display: flex;
    gap: 24px;
    align-items: baseline;
}

.about-img-wraper {
    border-radius: 100%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-btn:hover {
    background-color: #bbf330;
}

.about-border {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 5px solid rgba(255, 255, 255, 0.5);
    border-radius: 100%;
    margin-bottom: 60px;
}

.img-about {
    max-width: 201px;
}

.about-link {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #fefefe;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
    color: #7eb101;
}

.about-link:hover, .about-link:active {
    color: greenyellow;
}

.about-icon {
   fill: currentColor;
}


@media screen and (min-width:768px) {
    .about-list {
        flex-wrap: nowrap;
        gap: 80px;
        margin-bottom: 23px;
    }
    
    .about-list-item {
        width: calc((100% - 67) / 2);
    }
    
    .about {
        padding-top: 42px;
        padding-bottom: 191px;
        padding-left: 32px;
        padding-right: 116px;
    }

    .about-text {
        font-weight: 400;
        font-size: 16px;
        max-width: 500px;
    }

    .about-title {
        font-size: 42px;
        max-width: 526px;
    }

}

@media screen and (min-width:1158px) {
    .about {
        padding-top: 113px;
        padding-bottom: 124px;
        background-color:#ffe550;
    }
    
    .about-container {
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .about-wrap {
        margin-left: 90px;
        max-width: 573px;
    
    }
    
    .about-title {
        font-size: 42px;
        line-height: 1.2;
        margin-bottom: 20px;
    }
    
    .about-text {
        line-height: 1.5;
        margin-bottom: 40px;
    }
    
    .about-list {
        display: flex;
        align-items: center;
        gap: 67px;
        margin-bottom: 32px;
    }
    .about-subtitle {
        font-size: 18px;
        line-height: 1.4;
        margin-bottom: 16px;
    }
    
    .about-descr {
        font-size: 14px;
        line-height: 1.5;
    }
    
    .about-btn {
        border: 2px solid #7eb101;
        background-color: #fff;
    }
    
    .about-img-wraper {
        border-radius: 100%;
        background-color: #fefefe;
        width: 502px;
        height: 502px;
        display: flex;
        align-items: center;
        justify-content: center;
    
    
    }
    
    .about-border {
        display: flex;
        align-items: center;
        justify-content: center;
        border: 5px solid rgba(255, 255, 255, 0.5);
        border-radius: 100%;
        width: 550px;
        height: 550px;
    }
    
    .img-about {
        margin-top: -150px;
        max-width: 502px;
    }
    

    .read-more { 
        display: none;}

}
/*------------------------------------------*/

/*----------------Favourites--------------------------*/

.food {
    /* padding-top: 120px;
    padding-bottom: 101px; */
    margin-bottom: 120px;
}

.food-title {
    font-size: 28px;
    text-align: center;
    margin-bottom: 20px;
}

.food-text {
    font-size: 14px;
    text-align: center;
    margin-bottom: 60px;
}

.food-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: center;

}
.food-list-item {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    border: 16px solid #ffe550;
    display: flex;
    align-items: center;
    justify-content: center;
}

.food-list-item:nth-child(n + 4) {
    display: none;
}
@media screen and (min-width:768px) {
    .food {
        margin-bottom: 160px;
    }
    
    .food-list-item {
        width: calc((100% - 32) / 2);
        width: 336px;
    }

    .food-list {
        gap: 32px;
        
    }
    
    .food-list-item:nth-child(n + 4) {
        display: flex;
    }
    .food-title {
        font-size: 42px;
        margin-bottom: 20px;
    }

    .food-text {
        font-size: 16px;
        margin-bottom: 60px;
    }
}

@media screen and (min-width:1158px) {
    .food {
        padding-top: 120px;
        padding-bottom: 101px;
    }
    
    .food-list {
        gap: 20px;
    }
    .food-text {
        margin-bottom: 40px;
    }
    
    .food-list-item {
        width: calc((100% - 2 * 32) / 3);
        border-radius: 197px;
        width: 394px;
        height: 397px;}

}
/*------------------------------------------*/

/*----------------Reviews--------------------------*/
.reviews {
    padding-bottom: 17px;
}

.reviews-title {
    font-size: 28px;
    margin-bottom: 20px;
}
.reviews-text {
    margin-bottom: 32px;
}

.reviews-list {
    display: flex;
    /* gap: 139px; */
    gap: 24px;
    align-items: center;
    flex-wrap: wrap;

}
.reviews-list-item {
    background-color: #fefefe;
    border-radius: 0 30px 30px 30px;
    height: 231px;
    display: flex;
    flex-direction: column;
    padding-top: 14px;
    padding-right: 14px;
    padding-left: 14px;
    padding-bottom: 15px;
}
.reviews-list-subtitle {
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 41px;

}

.reviews-list-title {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
}

.reviews-list-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;

}

.reviews-list-wrap {
    display: flex;
    align-items: center;

}

.rewies-img {
    margin-right: 16px;
}

.reviews-list-wrap::after {
    padding: 0;
    border: 1px solid #7eb101;
    transform: rotate(-90deg);
    width: 52px;
    height: 0px;
    content: "";
}

.feedback-list-items-text {
    display: inline-block;
    font-size: 18px;
    margin-bottom: 41px;
}

.feedback-list-icon {
    display: flex;
    gap: 4px;
    margin-bottom: 29px;
}

.feedback {
    fill: #ffe550;
}

@media screen and (min-width:768px) {
    .reviews {
        padding-bottom: 46px;
    }
    .reviews-title {
        font-size: 42px;
        margin-bottom: 21px;
    }
    .reviews-text {
        margin-bottom: 33px;
    }

    .reviews-list { 
        flex-wrap: nowrap;
        gap: 32px;
}

    .reviews-list-item {
        width: calc((100% - 139) / 2);
    }
    .reviews-list-subtitle {
        font-size: 18px;
    }

    
}

@media screen and (min-width:1158px) {
    .reviews {
        padding-top: 140px;
        padding-bottom: 126px;
        background-color: #ffe550;

    }

    .reviews-list {
        gap: 139px;
    }
}
/*------------------------------------------*/

/*-------------------Offers-----------------------*/

.offers {
    padding-top: 17px;
    padding-bottom: 60px;
}
.container-offers {
}

.offers-img {
    margin-bottom: 17px;

}
/* .offers-img {
    position: absolute;
    top: 0;
    right: 55px auto;
    display:block;

} */

/* .offers-text-wrap {
    position: absolute;
    top: 137px;
    left: auto 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
} */
.offers-title {
    margin-bottom: 20px;
    font-size: 28px;
    line-height: 1.2;
}
.offers-text {
    line-height: 1.5;
    margin-bottom: 24px;
}
.offers-btn {
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    cursor: pointer;
    display: block;
    background-color: #bbf330;
    border-radius: 30px;
    min-width: 103px;
    height: 42px;
    padding: 10px 20px;
    border: none;
    
}

.offers-btn:hover {
    background-color: #ffe450;

}
.offers-email {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    padding-left: 11px;
    width: 278px;
    height: 42px;
    outline: transparent;
}

.offers-email:focus {
    border: 0.85px solid #7eb101;
}
.offers-email::placeholder  {
    font-weight: 400;
font-size: 12px;
line-height: 1.5;
color: #505050;
}

.offers-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
}


@media screen and (min-width:768px) {
    .offers {
        padding-bottom: 201px;
    }

    .container-offers {

    }

    .offers-email {
        width: 394px;
    }
     
    .offers-form {
        display: flex;
        flex-direction: row;
        gap: 22px;
    }

    .offers-title {
        font-size: 42px;
    }

    .offers-text {
        font-size: 16px;
        margin-bottom: 24px;
        max-width: 520px;
    }

    .offers-img {
        max-width: 281px;


    }

    .banana-picture {
        display: flex;
        justify-content: flex-end;
    }
}


@media screen and (min-width:1158px) {
    .offers {
        padding-top: 176px;
    }
    .container-offers {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row-reverse;
    }

    .offers-form {
        display: flex;
        flex-direction: row;
        gap: 32px;
    }

    .offers-img {
        max-width: 608px;

    }

}
/*------------------------------------------*/
/*------------------Footer------------------------*/

.footer {
    padding-top: 64px;
    padding-bottom: 60px;
    background-image: url(../images/footer-mb.png);
    background-repeat: no-repeat;
    /* background-size: 1211px; */
    background-position: bottom;
    
}


@media (max-width: 767px) {
    .footer-mb {
        width: 320px;
        display: flex;
        padding-left: 20px;
        padding-right: 135px;
        margin-bottom: 40px;
    
    }

    .footer-wrap {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
        align-items: center;
        justify-content: center;
    }

    .container-form {
        justify-content: flex-start;
    
    }
    .container-footer-text {
        align-items: start;
    
    }

    .footer-form {
        flex-direction: column;
    }

    .footer-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 80px;
        justify-content: center;
    
    }
}

@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
    .footer {
      background-image: url('../images/footer-mb2x.png');
    }
  }

.footer-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 80px;

}

.container-form {
    display: flex;
    flex-direction: column;

}

.footer-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 28px;
    margin-left: auto;

}

.footer-text-b {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.5;
    margin-bottom: 12px;
    display: block;
}

.footer-text {
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 10px;
}
.span {
    text-decoration: underline;
    color: #7eb101;
    margin-top: 12px;
}
.footer-span-link {
}
.footer-wrap {
    display: flex;


}
.footer-list-link {
    display: flex;
    /* gap: 20px; */
    /* margin-right: auto; */
    gap: 32px;


}
.footer-list-link-item {
    width: calc((100% - 2 * 32) / 3);

}

.footer-list-link-link {
    font-weight: 400;
    font-size: 10px;
    text-decoration: underline;
    color: #7eb101;
}
.footer-text-end {
    font-weight: 400;
    /* font-size: 12px; */
    font-size: 10px;
}

.container-footer-text {
    display: flex;
    flex-direction: column;
    /* align-items: start; */

}

.footer-email {
    border: 0.85px solid #ffe550;
    border-radius: 30px;
    padding: 10px;
    width: 279px;
    height: 42px;
    outline: transparent;
}

.footer-email:hover {
    border-color: #7eb101;
}
.footer-form {
    display: flex;
    /* flex-direction: column; */
    gap: 13px;
    margin-bottom: 12px;
}

.footer-email::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.footer-btn {
    border: 0.85px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    max-width: 103px;
    height: 42px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    color: #2c2c2c;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;

}

.footer-btn:hover {
    border-color: #ffe450;
}

@media screen and (min-width:768px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../images/footer-tab.png);
        background-repeat: no-repeat;
        background-size: 768px;
        background-position: bottom;  
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .footer {
          background-image: url('../images/footer-tab2x.png');
        }
      }
      .footer-list {
        flex-direction: row;
    }

    .footer-logo {
        margin-right: 0;
    }
    .footer-mb {
        display: flex;
        gap: 114px;
    
    }

    .footer-list-link {
        gap: 20px;
        margin-right: auto;
    
    }
    .footer-text {
        font-size: 12px;
    }

    .footer-list-link-link {
        font-size: 12px;
    }
    .footer-text-end {
        font-size: 12px;
    }

}


@media (max-width: 1157px) {
    .footer-container {
        align-items: flex-start;
        justify-content: center;
        gap:40px;
       }

}
@media screen and (min-width:1158px) {
    .footer {
        padding-top: 100px;
        padding-bottom: 100px;
        background-image: url(../images/Group\ 60.png);
        background-repeat: no-repeat;
        background-size: 1211px;
        background-position: bottom;
        
    }

    @media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .footer {
          background-image: url('../images/footer.png');
        }
      }

    .footer-logo {
        margin-right: auto;
        flex-shrink: 0;
    }

    .footer-list-link {
        gap: 20px;
        margin-right: auto;
    
    }

    .container-footer-text{
    margin-left: 320px;
    }
    .footer-form {
        flex-direction: row;
    }

    .footer-mb {
        gap: 144px;
        margin-left: 0;
        align-items: center;
    
    }

    .footer-container {
        flex-direction: row;
    }

    
}
/*------------------------------------------*/

.backdrop { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:  rgba(94, 99, 99, 0.7);
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility:visible;
    pointer-events: auto;
}

.modal {
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 32px;
    border-radius: 30px;
    /* width: 458px; */
    width: 320px;
    height: 449px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #ffe550;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 
}
.modal-close-btn {
    position: absolute;
    top: 12px;
    right: 12px;
    line-height: 0;
    padding: 0;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.06);
    background-color: #fff;
    border-radius: 100%;
    border: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    display: block;
}
.modal-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: #2c2c2c;
    text-align: center;
    margin-bottom: 20px;
}

.modal-close-icon {
    fill: #2c2c2c;
    box-shadow: inset 2px 1px 4px 0 rgba(61, 61, 61, 0.1);

}

.modal-label {
    display: block;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.4;
    color: #2c2c2c;
    margin-bottom: 24px;

}
.modal-input {
    display: block;
    border: 1px solid rgba(18, 18, 18, 0.12);
    border-radius: 30px;
    /* width: 394px; */
    width: 280px;
    height: 48px;
    outline: transparent;
    box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.15);
    background: #fff;
    padding-left: 12px;
    margin-top: 2px;
}

.modal-send-btn {
    cursor: pointer;
    border: 2px solid #7eb101;
    border-radius: 30px;
    padding: 10px 20px;
    width: 106px;
    height: 40px;
    background-color: #fff;
    font-weight: 500;
    font-size: 13px;
    line-height: 1.5;
    color: #2c2c2c;
    margin: auto;
    display: block;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-send-btn:hover, .modal-send-btn:focus {
    background-color: #bbf330;

}

@media screen and (min-width:768px) {
    .modal {
        padding: 32px;
        width: 458px;
    }

    .modal-input {
        width: 394px;
    }
}


/*------------------------------------------*/

.backdrop-menu { 
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    z-index: 999;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open {
    opacity: 1;
    visibility:visible;
    pointer-events: auto;
}

.modal-menu {
    padding-right: 16px;
    padding-left: 16px;
    padding-top: 16px;
    width: 170px;
    height: 311px;
    box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
    background: #bbf330;
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(-0%, -0%);
 
}

.modal-menu-close-btn {
    box-shadow: inset 2px 1px 4px 0 rgba(61, 61, 61, 0.1);
    display: block;
    background-color: transparent;
    cursor: pointer;
    border: none;
    position: absolute;
    top: 13px;
    right: 15px;


}
.modal-menu-close-icon {
    fill: #2c2c2c;

}


.menu-nav-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.menu-nav-list-item-link {
    display: block;
    font-weight: 400;
    font-size: 16px;
    color: #000;
}

.menu-nav-list-item-link-home {
    font-weight: 700;
    color: #2c2c2c;

}